/dts-v1/;

/ {
	compatible = "acme,coyotes-revenge";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&intc>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu@0 {
			compatible = "arm,cortex-a9";
			reg = <0>;
		};
		cpu@1 {
			compatible = "arm,cortex-a9";
			reg = <1>;
		};
	};

	serial@101f0000 {
		compatible = "arm,pl011";
		reg = <0x101f0000 0x1000>;
		interrupts = <1 0>;
	};

	serial@101f2000 {
		compatible = "arm,pl011";
		reg = <0x101f2000 0x1000>;
		interrupts = <2 0>;
	};

	gpio@101f3000 {
		compatible = "arm,pl061";
		reg = <0x101f3000 0x1000
		       0x101f4000 0x0010>;
		interrupts = <3 0>;
	};

	intc: interrupt-controller@10140000 {
		compatible = "arm,pl190";
		reg = <0x10140000 0x1000>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	spi@10115000 {
		compatible = "arm,pl022";
		reg = <0x10115000 0x1000>;
		interrupts = <4 0>;
	};

	external-bus@10100000 {
		#address-cells = <2>;
		#size-cells = <1>;
		ranges = <0 0 0x10100000 0x10000	//Chipselect 1, Ethernet
			  1 0 0x10160000 0x10000	//Chipselect 2, i2c controller
			  2 0 0x30000000 0x1000000>;	//Chipselect 3, NOR Flash

		ethernet@0,0 {
			compatible = "smc,smc91c111";
			reg = <0 0 0x1000>;
			interrupts = <5 2>;
		};

		i2c@1,0 {
			compatible = "acme,a1234-i2c-bus";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1 0 0x1000>;
			interrupts = <6 2>;
			rtc@58 {
				compatible = "maxim,ds1338";
				reg = <58>;
				interrupts = <7 3>;
			};
		};

		flash@2,0 {
			compatible = "samsung,k8f1315ebm", "cfi-flash";
			reg = <2 0 0x4000000>;
		};
	};
};
