age_radix
ages
assert
atexit
birthday
bsearch
child_time
clock
clock1
day_of_week
div
env
float_error
locale
localeconv
military_time
qsort
rand
rand1
rand2
rand3
set_buffer
sigfpe
sigfpe1
sigfpe2
strtol
strtol1
system
vprintf
